@import '@/lib/reset.scss';
.homeTopImg{
  @include rect(100%, 2.2rem);
  @include overflow();
  touch-action: pan-y;
  div{
    &:nth-of-type(1){
      @include rect(1.5rem, 2.2rem);
      float: left;
      display: block;
    }
    display: block;
    float: left;
    margin-right: 1px;
    @include rect(1.1rem, 1.1rem);
    img{
      @include rect(100%, 100%);
    }
  }
}

